.status {
  border: solid 1px;
  padding: 4px 8px;
  border-radius: 6px;
}
.status-proposed {
  background-color: var(--c-warning);
  color: var(--c-text-primary);
  border-color: var(--c-warning);
}
