---
import SpecLineItem from "../../SpecLineItem.astro";

interface Props {
  isolatedComponentId?: string;
}
const { isolatedComponentId } = Astro.props;
---

{(!isolatedComponentId || isolatedComponentId === "border-box") && (
<div class="ds-component-block" id="border-box">
  <SpecLineItem 
    title="Border Box" 
    url={isolatedComponentId ? "/resources/design-system/components" : "/resources/design-system/components/border-box"} 
    tags={[isolatedComponentId ? "View All" : "Isolate"]} 
    headingLevel="h3" 
  />
  <p>A utility class for bordered containers:</p>
  <pre><code>{`.border-box {
  border: 1px solid var(--c-border);
  padding: var(--s-gap);
}`}</code></pre>
</div>
)}
