---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Resources" description="Meta-resources for the ASDLC">
    <h1>Resources</h1>

    <div class="prose">
      <ul>
        <li>
          <a href="/fieldmanual">ASDLC Field Manual</a>
          - A collated edition of all ASDLC concepts, patterns, and practices in a single file handy for printing or LLM ingestion purposes.
        </li>
        <li>
          <a href="/design-system">ASDLC Design System</a>
          - A collection of design tokens, components, and guidelines for building user interfaces that align with ASDLC principles.
        </li>
      </ul>
    </div>
</BaseLayout>
