---
---
<footer>
  <p>ASDLC.io © {new Date().getFullYear()} // Licensed under <a href="https://github.com/villetakanen/asdlc-io/blob/main/LICENSE" target="_blank" rel="noopener">MIT License</a></p>
</footer>


