---
interface Props {
  data: {
    label: string;
    value: string;
    isLink?: boolean;
    isBadge?: boolean;
    badgeStatus?: "deprecated" | "active" | "draft";
  }[];
}

import StatusBadge from "./StatusBadge.astro";

const { data } = Astro.props;
---

<dl class="spec-meta">
  {data.map((item) => (
    <div class="spec-row">
      <dt>{item.label}</dt>
      <dd>
        {item.isBadge ? (
          <StatusBadge status={item.value} />
        ) : item.isLink ? (
          <a href={item.value}>{item.value}</a>
        ) : (
          item.value
        )}
      </dd>
    </div>
  ))}
</dl>


