---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import SEOMetadata from "../components/SEOMetadata.astro";

interface Props {
  title: string;
  description?: string;
  image?: string;
}

const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/asdlc.svg" />
    <meta name="generator" content={Astro.generator} />

    <SEOMetadata title={title} description={description} image={image} />

    <!-- 100% privacy-first analytics -->
    <script is:inline async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>

  </head>
  <body>

    <Header />
    <main class="grid-layout">
      <slot />
    </main>
    <Footer />
  </body>
</html>
